.root {
-fx-background-color: #5abdca;
}

.button {
-fx-background-radius: 100 100 100 100;
-fx-border-radius: 100 100 100 100;
-fx-background-color: #aaffaa;
-fx-border-width: 3;
-fx-border-color: #00cc00;
-fx-text-alignment: center;
-fx-font-size: 16px;
-fx-alignment: center;
-fx-min-width:50px;
-fx-min-height:30px;
-fx-max-width:2500px;
-fx-max-height:2000px;
}

.label {
-fx-text-alignment: center;
-fx-font-size: 16px;
-fx-alignment: center;
-fx-min-width:30px;
-fx-min-height:10px;	
-fx-max-width:2500px;
-fx-max-height:2000px;
}

.text {
-fx-text-alignment: center;	
}